<div class = "container form-group">
    <h2>User Settings</h2>

    <!-- ngNativeValidate -->
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="name">Name</label>
            <input name="name" class="form-control" id="name" placeholder="Enter username" [(ngModel)]="userSettings.name" required #nameField="ngModel" 
            (blur)="onBlur(nameField)"
            [class.field-error]="form.submitted && nameField.invalid">
            <!-- <div *ngIf="nameField.errors && (nameField.dirty || nameField.touched)" class="alert alert-danger"> -->
                <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
                    Name is required
                </div>
        </div>

        <div class="form-check">
            <input name="emailOffers" type = "checkbox" class="form-check-input" id="emailOffers" [(ngModel)]="userSettings.emailOffer">
            <label class="form-check-label" for="emailOffers">
                Email Special Offers
            </label>
        </div>
        <p>User Interface Style:<p>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="uiStyle" id="uiStyleLight" value="light" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="uiStyleLight">
                    Light
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="uiStyle" id="uiStyle" value="medium" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="uiStyleLight">
                    Medium
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="uiStyle" id="uiStyleLight" value="dark" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="uiStyleLight">
                    Dark
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="subscriptionType">Subscription Type</label>
            <select name="subscriptionType" class="form-control" id="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
                <option value="">Select One</option>
                <option value="basic">Basic</option>
                <option value="pro">Pro</option>
                <option value="premium">Premium</option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" class="form-control" id="notes" rows="3" [(ngModel)]="userSettings.notes"></textarea>
        </div>

        <!-- <div class="form-group">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="testing">Testing</label>
            <input name="password" type="color" class="form-control" id="password" placeholder="Password">
        </div> -->



        <button class = "btn btn-primary">OK</button>
    </form>
</div>

<h3>{{ userSettings | json}}</h3>
